.glass-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    overflow: hidden; /* Prevents child elements from overflowing */
    color: white; 
}

.glass-card .icon {
    font-size: 2rem;
    margin: 10px 0;
    color: white;
}

.glass-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
